.container {
    border: 2px solid blue;
    /* width: fit-content;
    padding: 50px; */
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}